# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Project data
input/*
!input/.gitkeep

output/*
!output/.gitkeep